/* .home-page {
    background: url('https://img.freepik.com/free-vector/abstract-gray-floral-pattern-background_1035-25447.jpg?t=st=1740996456~exp=1741000056~hmac=d8618e2a06be5545f059b70cd4dfaaca6e7a6a2ce082b52a0f6af9541a089ed4&w=1380') ;
    background-size: cover;
    height: 100vh;
} */