.booking-form {
    width: 100%;
    /* max-width: 500px; */
    margin: auto;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  }
  
  .booking-form h2 {
    text-align: center;
    color: #111;
  }
  
  .form-message {
    text-align: center;
    color: green;
    font-weight: bold;
  }
  
  .booking-form form {
    display: flex;
    flex-direction: column;
  }
  
  .booking-form label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .booking-form input,
  .booking-form select,
  .booking-form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
    background: #fff;
  }
  
  .booking-form button {
    margin-top: 15px;
    padding: 10px;
    background: #a3d1c6;
    color: #585950;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px;
    transition: background .3s ease-out;
  }
  
  .booking-form button:hover {
    background: #80b8ab;
  }

  .form-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .left-section-form {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 4px;
  }

  .right-section-form {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 4px;
  }

