  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
  }

  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .hero-image-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .hero-image-tablet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* .canvas {
    height: 10vh;
  } */
  
  /* .threejs-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  } */
  
  .hero-content {
    position: relative;
    z-index: 1;
  }
  
  .hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .hero .btn-primary {
    background: #a3d1c6;
  }

  .hero .btn-primary:hover {
    background: #80b8ab;
  }
  
  .btn-primary {
    background: #a3d1c6;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-top: 15px;
    /* transition: background 0.3s ease; */
  }
  
  .btn-primary:hover {
    background: #567d74;
  }


  
  /* .threejs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .hero-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    padding: 10px 20px;
    font-size: 1rem;
    background: gold;
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background: orange;
  }
   */
  
@media screen and (max-width: 1140px) {
  .hero-video {
    display: none;
  }
  .hero-image-tablet {
    display: block;
  }
  .hero-main-text {
    display: none;
  }
  .hero-main-text-mobile {
    display: block;
  }
  .hero-image-mobile {
    display: none;
  }
  .hero-main-text-mobile h1 {
    font-size: 100px;
  }
}

@media screen and (min-width: 1140px) {
  .hero-video {
    display: block;
  }
  .hero-image-tablet {
    display: none;
  }
  .hero-main-text{
    display: block;
  }
  .hero-main-text-mobile{
    display: none;
  }
  .hero-image-mobile  {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-video {
    display: none;
  }
  .hero-image-tablet {
    display: none;
  }
  .hero-image-mobile {
    display: block;
  }
  .hero-main-text-mobile h1 {
    font-size: 60px;
  }
}