.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 9999;
  }
  
  .circle-text {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
  }
  
  .circle-text span {
    position: absolute;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    transform-origin: 50% 50%;
  }
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  